.vscode/settings.json
build/app
build/objects/src/main.o
build/objects/src/avl_tree/avl.o
build/objects/src/binary_tree/fila.o
build/objects/src/binary_tree/tree.o
build/objects/src/files/files.o
build/objects/src/redblack_tree/rb.o
build/objects/src/tests.o
build/objects/src/maps/maps.o
imgs/remove3.jpg:Zone.Identifier
imgs/remove2.jpg:Zone.Identifier
imgs/remove1.jpg:Zone.Identifier
imgs/AVLtreef.svg.png:Zone.Identifier
imgs/AVLtree.JPG:Zone.Identifier
